In [1]:
import numpy as np # matematica
import pandas as ps # ciencias de dados
import matplotlib.pyplot as plt # grafica
import pandas_datareader.data as web # p importar dados do yahoo
import seaborn as sns #Melhorar visualização grafica 
import random

import investpy as inv
sns.set()

In [2]:
roic = ps.read_excel("Base de dados ACOES.xlsx", decimal=',',thousands='.')
evebit = ps.read_excel("Base de dados ACOES.xlsx", decimal=',',thousands='.',sheet_name="EvEbit")

In [3]:
roic

      Papel   2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
0     ITSA4  -0.06 -0.05  0.16  0.18  0.17  0.15  0.14  0.16  0.17  0.17
1     WEGE3   0.11  0.14  0.16  0.15  0.13  0.13  0.14  0.14  0.16  0.15
2     ABEV3  37.00  0.36  0.31  0.30  0.29  0.26  0.25  0.24  0.21  0.18
3     POMO3   0.20  0.15  0.13  0.08  0.05  0.09  0.02  0.08  0.07  0.07
4      PSSA   0.00  0.00  0.00  0.00  0.02  0.01  0.02  0.06  0.04  0.05
..      ...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
139   BRKM5   0.07  0.05  0.08  0.10  0.17  0.16  0.22  0.19  0.00 -0.03
140   SUZB3   0.04  0.03  0.04  0.05  0.12  0.05  0.13  0.18  0.03  0.04
141   JHSF3   0.14  0.10  0.12  0.04  0.07 -0.03  0.04  0.07  0.12  0.11
142   CAML3   0.00  0.00  0.00  0.00  0.00  0.00  0.15  0.11  0.08  0.09
143   LOGG3   0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.03  0.05  0.05

[144 rows x 11 columns]

In [4]:
evebit

,Papel,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ITSA4,1.65,2.93,13.23,10.44,9.56,10.57,10.26,8.73,7.88,8.73
1,WEGE3,173.68,142.23,113.39,104.84,99.67,107.55,96.68,76.29,61.52,57.18
2,ABEV3,18.45,15.44,13.76,13.41,11.18,12.72,12.93,12.43,13.17,14.01
3,POMO,7.91,9.22,9.77,15.15,23.72,12.01,48.65,12.57,13.62,13.39
4,PSSA,1000000.00,1000000.00,1000000.00,1000000.00,24.13,65.87,16.09,5.53,7.56,5.94
...,...,...,...,...,...,...,...,...,...,...,...
139,BRKM5,15.85,21.16,11.93,9.74,5.45,5.71,3.86,4.31,1000000.00,1000000.00
140,SUZB3,80.59,101.78,59.71,48.10,19.98,45.07,17.98,11.85,39.32,30.40
141,JHSF3,24.01,26.89,13.97,34.58,16.97,1000000.00,38.81,21.30,10.98,11.16
142,CAML3,1000000.00,1000000.00,1000000.00,1000000.00,1000000.00,1000000.00,12.19,13.89,18.05,13.73
143,LOGG3,1000000.00,1000000.00,1000000.00,1000000.00,1000000.00,1000000.00,1000000.00,52.15,21.78,21.71

In [ ]:
anos= [2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]
rankingROIC = ps.DataFrame()
rankingEVEBIT = ps.DataFrame()
rankingEVEBIT['posicao'] = range(1,145)
rankingROIC['posicao'] = range(1,145)
for data in anos:
    #rankingEVEBIT[data] = evebit[evebit[data] > 0].sort_values(by=[data])['Papel'].values #VALOR DA FIRMA(VALOR DE MERCADO+DIVIDA LIQUIDA)/LUCRO ANTES DE....
    #[evebit.loc[0:143, data]>0]
    rankingEVEBIT[data] = evebit.sort_values(by=[data])['Papel'].values #VALOR DA FIRMA(VALOR DE MERCADO+DIVIDA LIQUIDA)/LUCRO ANTES DE....
    rankingROIC[data] = roic.sort_values(by=[data], ascending=False)['Papel'].values

In [ ]:
rankingROIC

In [61]:
rankingEVEBIT

,posicao,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,ITSA4,ITSA4,GFSA3,CLSC4,SMLS,TRPL4,SMLS,SMLS,SMLS,SMLS
1,2,CSNA3,BRML3,CIEL3,CIEL3,BRKM5,SMLS,BRKM5,ENAT3,SULA11,MTRE3
2,3,LPSB3,CIEL3,LPSB3,CMIG3,CIEL3,UNIP6,CIEL3,UNIP6,CEAB3,WIZS
3,4,VLID3,HGTX3,CMIG3,CMIG4,BRFS3,CIEL3,ENAT3,BRKM5,WIZS,GOLL4
4,5,CIEL3,VLID3,CMIG4,BRFS3,ENBR3,ELET3,FESA4,FESA4,ALUP11,ALUP11
...,...,...,...,...,...,...,...,...,...,...,...
139,140,CCPR3,CCPR3,ENEV3,ENEV3,CCPR3,USIM3,KLBN3,CCPR3,BRKM5,BRKM5
140,141,ENEV3,ENEV3,BRDT3,BRDT3,BRDT3,CCPR3,TESA3,DIRR3,TESA3,CCPR3
141,142,BRDT3,BRDT3,ELET3,ELET3,ELET3,BRDT3,LOGN3,KLBN3,KEPL3,CAMB3
142,143,KLBN3,ELET6,KLBN3,KLBN3,POSI3,CAML3,GNDI3,EVEN3,VVAR3,TESA3
143,144,LOGG3,LOGG3,LOGG3,LOGG3,LOGG3,LOGG3,LOGG3,MTRE3,KLBN3,VVAR3

In [93]:
ranking = ps.DataFrame()
for data in anos:
    a = rankingEVEBIT.pivot_table(columns=data,values='posicao')
    b = rankingROIC.pivot_table(columns=data,values='posicao')
    c = ps.concat([a,b])
    rank_temporario = c.sum()
    t=c.sum()
    rank_temporario = rank_temporario.sort_values()
    ranking[data] = rank_temporario.index

In [103]:
#ranking.to_excel('ClassificacaoDpsPython.xlsx')
ranking

      2011   2012   2013   2014   2015   2016   2017   2018    2019   2020
0    CIEL3  HGTX3  CIEL3  CIEL3   SMLS  TRPL4   SMLS   SMLS    SMLS   SMLS
1    HGTX3  CIEL3  HGTX3  HGTX3  CIEL3   SMLS   WIZS  UNIP6    WIZS   WIZS
2     POMO   POMO   POMO  AGRO3  BRKM5  UNIP6  VULC3  ENAT3   CEAB3  GOLL4
3    VALE3  BRML3  UNIP6  CMIG4  UGPA3  CIEL3  BRKM5   WIZS   GOLL4  BEEF3
4    VLID3  VLID3  CMIG3  CMIG3  ABEV3  SEER3  CIEL3  BRKM5  ALUP11  TGMA3
..     ...    ...    ...    ...    ...    ...    ...    ...     ...    ...
140  CEAB3  CLSC4  LOGG3  LPSB3  LPSB3  GOAU4  DIRR3  LPSB3   BRKM5  CCPR3
141  CCPR3  USIM3  BRDT3  BRDT3  USIM5  CCPR3  TESA3  MTRE3   TESA3  TESA3
142  VULC3  BRDT3  KLBN3  TASA4  POSI3  USIM3  TASA4  GFSA3   CCPR3  BRKM5
143  CLSC4  ELET6  ENEV3  ELET3  USIM3  LPSB3  BRML3  DIRR3   VVAR3  CAMB3
144  ENEV3  ENEV3  ELET3  ENEV3  ELET3  TASA4  LOGN3  EVEN3   KLBN3  VVAR3

[145 rows x 10 columns]

In [ ]:
dados = ps.DataFrame()

dados['CIEL3'] = inv.get_stock_historical_data('CIEL3',country='brazil',from_date='01/01/2011',to_date='01/01/2012')['Close']
dados['HGTX3'] = inv.get_stock_historical_data('HGTX3',country='brazil',from_date='01/01/2011',to_date='01/01/2012')['Close']
dados['POMO4'] = inv.get_stock_historical_data('POMO4',country='brazil',from_date='01/01/2011',to_date='01/01/2012')['Close']
dados['VALE3'] = inv.get_stock_historical_data('VALE3',country='brazil',from_date='01/01/2011',to_date='01/01/2012')['Close']
dados['VLID3'] = inv.get_stock_historical_data('VLID3',country='brazil',from_date='01/01/2011',to_date='21/01/2012')['Close']
dados['^BVSP'] = inv.get_index_recent_data('Bovespa',country='brazil',from_date='01/01/2011',to_date='21/01/2012')['Close']

#inv.get_stock_historical_data('^BVSP',country='brazil',from_date='01/01/2011',to_date='21/01/2012')['Close']


#start_date = '2011-01-01'
#end_date = '2012-01-01'
#tickers = ["CIEL3.SA","HGTX3.SA","POMO4.SA","VALE3.SA","VLID3.SA","^BVSP"]
#dados_yahoo = web.get_data_yahoo(tickers,start_date, end_date)["Adj Close"]

In [ ]:
dados

In [102]:
ranking[2011][0].velue

AttributeError: 'str' object has no attribute 'velue'

In [ ]:
bradesco = inv.get_stock_historical_data('bbdc4',country='brazil',from_date='01/01/1900',to_date='24/04/2020')
bradesco
def backtest_strategy(tabela, capital, benchmark): #volatility_threshold vai ajudar a definir o que é uma volatilidade baixa
    anos= [2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]

    for ano in anos:
                    #pega na tabela price[simbolo] =0 e tbm coloca uma coluna cash
        df_init   = (tabela['Close']*0).to_frame().assign(cash = 0)#lida com a posicao no inicio do dia
        df_update = (tabela['Close']*0).to_frame().assign(cash = 0)#lida com as mudanças de posicao durante o dia
        df_end    = (tabela['Close']*0).to_frame().assign(cash = 0)#lida com a posicao no fim do dia

        df_init.iloc[0, df_init.columns.get_loc('cash')] = capital#colocando capital incial na primeira linha do data frameINICIAL
        df_end.iloc[0, df_end.columns.get_loc('cash')]   = capital#colocando capital incial na primeira linha do data frameFINAL dia

        calendar = pd.Series(tabela.index).iloc[1:]#pulando primeiro dia, que a gente nao faz trading e pegando todos od dias

        Numero_acoes_anterior=0
        Quantidade_em_caixa_anterior=capital
        for date in calendar:
            prev_date = df_init.index[df_init.index<date][-1]#p/ saber qual é o dia anterior

            df_init.loc[date, :] = df_end.loc[prev_date, :]#fazendo inicio dia ser igual ao final dia do DiaAnterior

            port_value = df_init.loc[date, 'Close'] * tabela.loc[date, 'Close'] + df_init.loc[date, 'cash']#valor do portifolio no inicio do dia= posiciao inicio dia*preço + valor em caixa

            #fazendo a trasicao entre caixa e comprado

            if tabela.loc[date, 'Preco_Lucro'] > tabela.loc[date, 'upperband']: # volatility is high -> be fully in cash
                df_end.loc[date, 'Close']=0
                Numero_acoes_anterior = 0
                df_end.loc[date, 'cash'] = port_value
                Quantidade_em_caixa_anterior = port_value
            elif (tabela.loc[date, 'Preco_Lucro'] < tabela.loc[date,'lowerband']): # volatility is low -> be in market position
                df_end.loc[date, 'Close'] = port_value/tabela.loc[date, 'Close']
                Numero_acoes_anterior = port_value/tabela.loc[date, 'Close']#divide pelo preco p colocar so a qtd alocada e n o valor
                df_end.loc[date, 'cash']=0
                Quantidade_em_caixa_anterior = 0
            else:
                df_end.loc[date, 'Close'] = Numero_acoes_anterior
                df_end.loc[date, 'cash'] = Quantidade_em_caixa_anterior

            df_update.loc[date] = df_end.loc[date] - df_init.loc[date]#passando a diferencao p o dfUpdate

        #comparação com benchmark
        #portval = pd.DataFrame()                  
        portval= (df_end * tabela.assign(cash = 1)[['Close', 'cash']]).sum(axis = 1).to_frame().rename(columns = {0:'strategy'})#trocando qdt alocada pelo valor alocado e juntando as duas colunas- para dar uma coluna com o valor final de cada dia (strategy) 
        portval['benchmark'] = benchmark['Close']
        portval[acao] = tabela['Close']
        portval = (portval/portval.iloc[0].values) #normalizando o valor inicial

    return (portval)